/***********************************
Custom Fonts
************************************/
@font-face {
    font-family: 'ProximaNovaBold';
    src: url('http://www.yutalent.co.uk/fonts/proximanova-bold-webfont.eot');
    src: url('http://www.yutalent.co.uk/fonts/proximanova-bold-webfont.eot?#iefix') format('embedded-opentype'), url('http://www.yutalent.co.uk/fonts/proximanova-bold-webfont.woff') format('woff'), url('http://www.yutalent.co.uk/fonts/proximanova-bold-webfont.ttf') format('truetype'), url('http://www.yutalent.co.uk/fonts/proximanova-bold-webfont.svg#ProximaNovaBold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ProximaNovaLight';
    src: url('http://www.yutalent.co.uk/fonts/proximanova-light-webfont.eot');
    src: url('http://www.yutalent.co.uk/fonts/proximanova-light-webfont.eot?#iefix') format('embedded-opentype'), url('http://www.yutalent.co.uk/fonts/proximanova-light-webfont.woff') format('woff'), url('http://www.yutalent.co.uk/fonts/proximanova-light-webfont.ttf') format('truetype'), url('http://www.yutalent.co.uk/fonts/proximanova-light-webfont.svg#ProximaNovaLight') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ProximaNovaSemibold';
    src: url('http://www.yutalent.co.uk/fonts/proximanova-semibold-webfont.eot');
    src: url('http://www.yutalent.co.uk/fonts/proximanova-semibold-webfont.eot?#iefix') format('embedded-opentype'), url('http://www.yutalent.co.uk/fonts/proximanova-semibold-webfont.woff') format('woff'), url('http://www.yutalent.co.uk/fonts/proximanova-semibold-webfont.ttf') format('truetype'), url('http://www.yutalent.co.uk/fonts/proximanova-semibold-webfont.svg#ProximaNovaSemibold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ProximaNovaRegular';
    src: url('http://www.yutalent.co.uk/fonts/proximanova-regular-webfont.eot');
    src: url('http://www.yutalent.co.uk/fonts/proximanova-regular-webfont.eot?#iefix') format('embedded-opentype'), url('http://www.yutalent.co.uk/fonts/proximanova-regular-webfont.woff') format('woff'), url('http://www.yutalent.co.uk/fonts/proximanova-regular-webfont.ttf') format('truetype'), url('http://www.yutalent.co.uk/fonts/proximanova-regular-webfont.svg#ProximaNovaRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* CSS Document */
.msg_submit{
	width: 116px;
	height: 41px;
	background: url(images/sendsms.png);
	border: none;
	cursor: pointer;
	text-indent: -9999px;
    margin: 0 auto;
    display: block;
}

.msg_submit:hover {
	background: url(images/sendsmshover.png);
}

#char_count {
	color: #AA9984;
	font-size: 12px;
	float: left;
	text-align: center;
	width: 100%;
	margin-top: 5px;
}

.err{
	color:#FF0000;
	margin: 0px;
}

.success_msg{
	color:#549227;
	margin:0px;
	display:none;
}
.valid_err{
color: red;
text-align: center;
font-weight: bold;
font-size: 16px;
}
.bronze{
    color: #AA9984;
}
.textarea-med{
    width: 98%;
    border: 1px solid #dedede;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    padding: 10px;
    font-family: 'ProximaNovaRegular';
    font-weight: normal !important;
    font-size: 17px;
    color: #AA9984;
    overflow: hidden;
}
.error-message{
    font-size: 17px;
    color: #cb2027;
    text-align: center;
}
.update-btn{
    display: block;
    margin: 0 auto;
    margin-top: 90px;
    width: 168px;
    height: 41px;
    text-decoration: none;
    border: none;
    cursor: pointer;
    background: url('images/buy_credit.png') no-repeat;
    text-indent: -9999px;
}
.update-btn:hover{
    background: url('images/buy_credit_hover.png') no-repeat;
}