#content{padding: 0 25px 25px; width: 95%;}
.red-title{ padding-bottom: 24px;float:left;width: 100%;}
.bronze-info{font-size:17px;}
.margin-right-7-per{margin-right:7%;float:left;margin-top:7px;}
.margin-right-6-per{margin-right:6%;float:left}
.margin-right-70{margin-right:70px;float:left}
.margin-right-60{margin-right:60px;float:left}
.margin-right-60 #apikey{width:540px;}
.wuplugin-title{border: 1px solid #DEDEDE;float: left;margin-bottom: 20px;margin-top: 40px;width: 100%;}
p .black-title-large {float: left;margin-left: 15%;margin-top: 15px;width: 15%;}
p .main{width:100%;float:left}
p .right .bronze-info {float: left;margin: 10px;}
span.bronze-info {margin-top: 15px !important;}
p .right{width:70%; overflow:hidden}
p select{width:420px !important}
p select option {margin-bottom: 0 !important;margin-left: 10px !important;margin-top: 0 !important;}
p .right.input{float: left;margin-left: 75px;width: 405px;}
#mapContentRecords{ float: left;margin-top: 40px;width: 100%;}
button.ui-multiselect span.value{color:#AA9984 !important}
.mailchimpError{float: left;margin-left: 128px;margin-top: 9px;}
.update-btn.goLeft{margin:0 !important}
.successMessage {color: green;margin-left: 31%;margin-top: -18px;padding-bottom: 18px;position: relative;}
.form-element {margin: 10px 0;}
.form-element .label-holder {float:left;margin-top:7px;width: 200px;}
.intro {margin: 10px 0;}
.success, .error {
	margin: 10px 0;
}
#add_invoice {
	float: right;
}
#content.small {width: auto;}